*.suo
*.suo
Shaastra/Bin/Debug/Shaastra.dll
Shaastra/Bin/Debug/Shaastra_Debug_AnyCPU.xap
*.cache
Shaastra/obj/Debug/Shaastra.dll
Shaastra/obj/Debug/Events/events.g.cs
Shaastra/obj/Debug/Events/events.g.i.cs
Shaastra/obj/Debug/MainPage.g.cs
Shaastra/obj/Debug/MainPage.g.i.cs
Shaastra/obj/Debug/Shaastra.g.resources
Shaastra/obj/Debug/Shaastra.pdb
Shaastra/obj/Debug/Shaastra.pdb
Shaastra/obj/Debug/Sponsors/spons.g.cs
Shaastra/obj/Debug/XapCacheFile.xml
Shaastra/Bin/Debug/Shaastra.dll
Shaastra/Bin/Debug/Shaastra.dll
Shaastra/Bin/Debug/Shaastra.pdb
Shaastra/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Shaastra/obj/Debug/Events/events.g.cs
Shaastra/obj/Debug/Events/events.g.i.cs
Shaastra/obj/Debug/MainPage.g.cs
Shaastra/obj/Debug/Shaastra.dll
Shaastra/obj/Debug/Shaastra.pdb
Shaastra/obj/Debug/Sponsors/spons.g.cs
Shaastra/obj/Debug/XapCacheFile.xml